{% extends "base_template.html" %}

{% block title %} Registro de usuarios {% endblock %}

{% block content %}
    <form action="" method="post">
        <div class="form-group">
            <label for="name">Nombre: </label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Ingresar el nombre"/><br>
        </div>
        <div class="form-group">
            <label for="email">Correo: </label>
            <input type="text" class="form-control" id="email" name="email" placeholder="Ingresar el correo electrónico"/><br>
        </div>
        <div class="form-group">
            <label for="password">Contraseña: </label>
            <input type="password" class="form-control "id="password" name="password" placeholder="Ingresar la contraseña"/><br>
        </div>
            <input type="submit" id="send-signup" name="signup" value="Registrar" class="btn btn-outline-primary"/>
    </form>
{% endblock %}